* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1A1A1F; 
  --color-secondary: #F2F0ED;
  --color-accent: #2BA4A0;

  --color-headings: #F2F0ED;
  --color-body: #1A1A1F;
}

/* Typography & Scrollbar */
html {
  font-size: 62.5%;

  /* Avoids content shift with scrollbar. */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  background-color: #36768c;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}
