* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #130F26; 
  --color-secondary: #DDF4F1;
  --color-accent: #cf4f00;
}

/* Typography & Scrollbar */
html {
  font-size: 62.5%;

  /* Avoids content shift with scrollbar. */
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: Mulish, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  background-color: var(--color-accent);
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}
